@page
@model Pizzeria.Pages.Ordenar.OrdenarModel
@{
    ViewData["Title"] = "Ordenar";
}

<html>
<head>
    <meta charset="utf-8" />

    <script src="https://kit.fontawesome.com/8dbd1c7c50.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href="~/css/orden.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <form id="regForm" method="post">
        <h1>Escoja su preferido:</h1>
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <h4>Tamaño:</h4>
            <input type="radio" value="grande" id="grande" name="tamaño" />
            <label for="grande"> Grande</label>
            <label for="grande" id="precio-grande"> CRC7000.00</label><br />

            <input type="radio" value="mediana" id="mediana" name="tamaño" />
            <label for="mediana"> Mediana</label>
            <label for="mediana" id="precio-mediana"> CRC5000.00</label><br />

            <input type="radio" value="pequeña" id="pequeña" name="tamaño" />
            <label for="pequeña"> Pequeña</label>
            <label for="pequeña" id="precio-pequeña"> CRC3000.00</label><br />
        </div>
        <div class="tab">
            <h4>Coberturas:</h4>
            <input type="checkbox" id="salsa" name="cobertura" value="salsa">
            <label for="salsa"> Salsa </label>
            <label for="salsa" id="precio-salsa"> CRC500.00</label><br>

            <input type="checkbox" id="hongos" name="cobertura" value="hongos">
            <label for="hongos"> Hongos </label>
            <label for="hongos" id="precio-hongos"> CRC500.00</label><br>

            <input type="checkbox" id="cebolla" name="cobertura" value="cebolla">
            <label for="cebolla"> Cebolla </label>
            <label for="cebolla" id="precio-cebolla"> CRC500.00</label><br>

            <input type="checkbox" id="chile" name="cobertura" value="chile">
            <label for="chile"> Chile </label>
            <label for="chile" id="precio-chile"> CRC500.00</label><br>

            <input type="checkbox" id="queso" name="cobertura" value="queso">
            <label for="queso"> Queso </label>
            <label for="queso" id="precio-queso"> CRC1000.00</label><br>

            <input type="checkbox" id="jamon" name="cobertura" value="jamon">
            <label for="jamon"> Jamón </label>
            <label for="jamon" id="precio-jamon"> CRC1000.00</label><br>

            <input type="checkbox" id="pepperoni" name="cobertura" value="pepperoni">
            <label for="pepperoni"> Pepperoni </label>
            <label for="pepperoni" id="precio-pepperoni"> CRC1000.00</label><br>

            <input type="checkbox" id="piña" name="cobertura" value="piña">
            <label for="piña"> Piña </label>
            <label for="piña" id="precio-piña"> CRC1500.00</label><br>

            <input type="checkbox" id="salami" name="cobertura" value="salami">
            <label for="salami"> Salami </label>
            <label for="salami" id="precio-salami"> CRC1500.00</label><br>
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
                <button type="button" asp-page-handler="Ordenar" id="nextBtn" onclick="nextPrev(1)" disabled>Siguiente</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
        </div>

        <div class="row">
            <h5>Total actual: </h5>
            <input type="text" id="total" name="total" value="" />
        </div>
    </form>

    @section Scripts{
        <script src="~/js/orden.js"></script>
    }
</body>
</html>

